.countdown {
    padding: 10px;
    text-align: center;
    background-color: #ff5722;
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.5rem;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 200px;
}
